body {
  margin: 0;
  background-color: black;
  overflow: hidden;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#verticalButtons {
  display: flex;
  flex-direction: column;
}

button {
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}

button:hover  {
  background-color: darkgrey;
}

#networkCanvas {
  background-color: rgb(82, 82, 82); 
}

#mainCanvas {
  background-color: rgb(31, 31, 31); 
}