body {
  margin: 0;
  background-color: black;
  overflow: hidden;
  text-align: center;
}

#networkCanvas {
  background-color: rgb(82, 82, 82); 
}

#mainCanvas {
  background-color: rgb(31, 31, 31); 
}